.DS_Store

*.*
!*.tex
!*.sty
!*.gst
!.Renviron
!.gitignore
!.tm_properties
!*.tmproj
!*.sublime-project
!*.sublime-workspace
!README.md
!README
!Makefile
Figs/pdf/pgf*.*
Figs/gnuplot
Figs/tmp
Figs/Src/*.*
!Figs/Src/*.tikz
!Figs/Src/*.tex
!Figs/Src/*.txt
!Figs/Src/*.dat
!Figs/Src/*.R
!Figs/Src/.Renviron
!Figs/Src/*.gp
!Figs/png/*.png
!Figs/png/*.jpg
tmp
recycle
test

Code/*.*
!Code/*.m
Code/Chap02/*.*
!Code/Chap02/*.m
Code/Chap03/*.*
!Code/Chap03/*.m
Code/Chap04/*.*
!Code/Chap04/*.m
Code/Chap05/*.*
!Code/Chap05/*.m
Code/Chap06/*.*
!Code/Chap06/*.m

Ref/*.*
!Ref/*.bib